*{margin:0; padding:0;}

body{
    background-color: rgb(184, 173, 173);
}
header{
    background-color: rgb(247, 201, 53);
    width: 100%;
    height: 50px;
}            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
    } 
    nav li{
    background-color: rgb(247, 201, 53);
    display: inline-block;
    width:10%;
    padding:10px 10px;
    color:rgb(20, 19, 19);
    justify-content: center;
    }
    nav li:hover{
        background-color:rgb(206, 126, 7);
        color:#000;
        }

  

    nav > li{
    float: left;
    }
footer{
    text-align: center;
    background-color: rgb(121, 117, 117);
    position:relative;
   left:0px;
   bottom:0px;
   height:75px;
   width:100%;
   clear: both;

}

#box-container {
    display: flex;
    height: 500px;
    padding-top: 40px;
    margin-left: 5%;

  }
  #box-1 {
    width: 30%;
    height: 40%;
    margin-right: 1%;
    

  }

  #box-2 {
    width: 40%;
    height: 50%;
    margin-right: 2%;

  }

  #imgProducto{
    max-width:100%;
    width:auto;
    height:auto;

}

#box-2 li{
    text-decoration: none;
    list-style:none;
    text-align: center;
    font-size: 20px;
}

#descripcion{
    text-align-last: justify;
}

button{
    background-color: rgb(39, 39, 226);
    font-size: 20px;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    border: rgb(39, 39, 226);
    border-radius: 8px;

}
#boton{
text-align:center;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
  }